@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'LEMON MILK';
    src: url('../public/fonts/lemon_milk/LEMONMILK-Medium.otf');
}

@font-face {
    font-family: 'Adlinnaka';
    src: url('../public/fonts/adinnaka/Adlinnaka-BoldDemo.ttf')
}

@font-face {
    font-family: 'Monument';
    scr: url('../public/fonts/monumentextended/MonumentExtended-Regular.otf')
}

.bg-hero-yellow {
    background: linear-gradient(180deg, rgba(254, 182, 12, 0.15) 0%, rgba(254, 182, 12, 0.15) 100%);
}

.proj-text-stroke-white {
    text-shadow:
       1px 1px 0 #fff,
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
}

.proj-text-stroke-black {
    text-shadow:
       1px 1px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}